.Java
{
    width: 150px;
    height: 200px;
    float: left;
    line-height: 20px;
    text-align: center;
    position: relative;
}
button
{
    width: 100px;
    clear: both;
    background: rgba(0, 255, 0, 0.8);
    font-size: 19px;
}

p
{
    font-size: 30px;
}

#Hide,#Toggle,#Fade
{
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px; 
    padding: 5px;
    border:2px solid #CCC;
    border-radius:25px;
    box-shadow: 8px 8px 7px rgba(0,0,0,0.6); 
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    top:50px;
    left:10px;
    background-image: url("../Images/MyPic.png");
}