#AboutUsMainContent
{
	font-size: 24px;
	font-family: "Lucida Console", Monaco, monospace;
  display: grid;
  grid-template-columns: 1fr 800px 800px 1fr;
  grid-template-areas:
	"title title title title"
  ". objective objective ."
  ". process process .";
  color: #00A9FF;
}
.title{
  background-image: url("../Images/Board.jpg");
  grid-area: title;
	text-align: center;
}
.objective{
  background-color: #a6a6a6;
  display: grid;
  grid-area: objective;
  grid-gap: 10px;
  margin: 50px;
  box-shadow: 10px 10px 5px #babbbc;
	color: #000099;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"objHead objImg"
	"objCont objImg";
}
.objHead{
	grid-area: objHead;
	text-align: center;
	padding-top: 20px;
}
.objCont{
	grid-area: objCont;
	text-align: center;
	align-self: center;
	color: black;
	padding: 20px;
}
.objImg{
	grid-area: objImg;
}
.objImg img{
	height: 450px;
	width: 350px;
	float: right;
}

.process{
  background-color: #666;
  grid-area: process;
	color: white;
	display: grid;
	grid-gap: 50px;
	margin: 50px;
	padding: 50px;
	box-shadow: 10px 10px 5px #babbbc;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"procHead procHead"
	"procCont1 procImg1"
	"procImg2 procCont2"
	"procCont3 procImg3"
	"procImg4 procCont4"
	"procFoot procFoot";
}
.procHead{
	grid-area: procHead;
	color: #a3cdf7;
	text-align: center;
}
.procCont1{
	grid-area: procCont1;
	align-self: center;
	text-align: center;

}
.procCont2{
	grid-area: procCont2;
	align-self: center;
	text-align:center;

}
.procCont3{
	grid-area: procCont3;
	align-self: center;
	text-align:center;

}
.procCont4{
	grid-area: procCont4;
	align-self: center;
	text-align:center;

}
.procImg1{
	grid-area: procImg1;
}
.procImg1 img{
	height:50%;
	Width: 50%;
	float: right;
}
.procImg2{
	grid-area: procImg2;
}
.procImg2 img{
	height: 40%;
	width: 40%
}
.procImg3{
	grid-area: procImg3;
}
.procImg3 img{
	height: 40%;
	width: 40%;
	float: right;
}
.procFoot{
	grid-area: procFoot;
	text-align: center;
}
